<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
出错啦：{{ e }}  <br>
<label id="num"></label> 秒后返回
<script type="text/javascript">
    sec = 5
    for(i=sec;i>=0;i--){
        window.setTimeout('update('+ i +')',(sec-i)*1000)
    }
    function update(num){
        document.getElementById('num').innerHTML = num
        if (num == 0){
            window.location.href = '/add/'
        }
    }

</script>
</body>
</html>