{% extends 'base.html' %}

{% block content %}
     <h1 style="text-align: center;color: red">{{ article.title }}</h1>
    <hr>
    <p style="padding:20px; line-height: 36px; font-size: 16px">&nbsp;&nbsp;&nbsp;&nbsp;{{ article.content }}</p>
    <p>
    {% for comment in comments %}
        <p style="line-height: 26px; padding: 20px">{{ comment }}</p>
        <hr>
    {% endfor %}
    <form method="post" action="/art_comment/">
        <textarea name="content"  style="width: 100%"></textarea>
        <input type="hidden" name="art_id" value="{{ article.id }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ c.csrf_token }}">
        <input type="submit">
    </form>
    </p>
{% endblock %}

