<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>
    字典：
    姓名：{{ user.name }} 年龄：{{ user.age }}<br>
    <hr>
    列表：
    {{ book.0 }}
    {{ book.1 }}
    <hr>
    对象：
    {{ person.name }}
    {{ person.age }}
    {{ person.say }}
    <hr>
    if 标签
    {% if user %}
        {{ user.name }}
    {% else %}
        无此用户
    {% endif %}
    <hr>
    for 遍历列表
    {% for v in book %}
        {{ v }}
    {% endfor %}
    <hr>
    for 遍历字典
    {% for k,v in user.items %}
        k:{{ k }} v:{{ v }}
    {% endfor %}

</body>
</html>